<link rel="stylesheet" href="~/css/HomeStyles/DefaultErrorView.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Reset.css" />
<link rel="stylesheet" href="~/css/Reset.css" />
<link rel="stylesheet" href="~/css/base.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/responsive-base.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/user-menu.css" asp-append-version="true" />

<div class="exception-container">
<h1 class="title">An error occurred while processing your request.</h1>
<p> Go back to <a asp-area="" asp-controller="Home" asp-action="Index">Home Page</a></p>
</div>