<link rel="stylesheet" href="~/css/Reset.css" />
<link rel="stylesheet" href="~/css/HomeStyles/Error404.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/base.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/responsive-base.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/user-menu.css" asp-append-version="true" />

<div class="exception-container">
    <div class="img-container">
        <img src="~/img/Unauthorized png.png" />
    </div>
    <div class="exception-conent">
       <p style="color:red">Access denied</p>
       <p> Go back to <a asp-area="" asp-controller="Home" asp-action="Index">Home Page</a></p>
    </div>
</div>