.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title{
  font-size: 2rem;
  margin-bottom: 4rem;
}
.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}
.input-container input{
  padding: 0.4rem;
}
.edit-button {
    font-size: 1.2rem;
    border: none;
    padding: 10px 14px;
    min-width: 80px;
    border-radius: 6px;
    transition: var(--tran-05);
    text-align: center;
    color: white;
    background-color: #0071c2;
    margin: 2rem 0rem 3rem 0rem;
}
.input-container label {
    font-size: 1.5rem;
    color: white;
    transition: var(--tran-05);
    margin: 2rem 0rem 0.5rem 0rem;
}

.shift {
    transform: translateY(-10px);
    font-size: 1.3em;
}
.edit-button:hover {
    opacity: 0.7;
    transform: scale(1.050);
}
.img-container{
  position: relative;
}
.img-container img{
  max-width: 380px;
  height: auto;
  object-fit: cover;
  margin-bottom: 1.2rem;
}
span{
  color: red;
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.1rem;
}
.img-form button, form button {
    font-size: 1.1rem;
    border: none;
    padding: 8px 12px;
    min-width: 80px;
    border-radius: 6px;
    transition: var(--tran-05);
    text-align: center;
    color: white;
}
.img-form {
    position: absolute;
    right: 4px;
    bottom: 24px;
    opacity: 0;
    transition: var(--tran-05);
}

.active-img-form {
    opacity: 0.8;
}

.active-img-container {
    box-shadow: -2px -8px 44px 4px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px -8px 44px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px -8px 44px 4px rgba(0,0,0,0.75);
}

.img-form button, form button {
    font-size: 1.1rem;
    border: none;
    padding: 8px 12px;
    min-width: 80px;
    border-radius: 6px;
    transition: var(--tran-05);
    text-align: center;
    color: white;
}

form button {
    max-width: 72px;
    font-size: 1rem;
}
form button {
    max-width: 72px;
    font-size: 1rem;
}

.delete-btn:hover, .recover-btn:hover {
    opacity: 0.7;
    transform: scale(1.050);
}

.recover-btn {
    color: white;
    background-color: #0071c2;
}

.delete-btn {
    background-color: red;
    color: white;
}
.current-room-basis{
    margin-top: 2rem;
}
.current-room-basis .title{
  text-align: center;
}
.room-basis-list li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.1rem;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}
.room-basis-container{
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-size: 1.2rem;
}
.room-basis-to-add-container{
  margin: 2.5rem 0rem;
}
.room-basis-title{
  margin-bottom: 1.4rem;
  font-size: 1.5rem;
}
textarea{
    padding: 0.5rem;
}