@media screen and (min-width: 280px) and (max-width: 1000px){
    .wrapper {
        margin-left: 6rem;
    }
    .title {
        font-size: 1.6rem;
    }
    .title-container img{
       width: 66px;
    }
    .statistics{
       flex-direction: column;
    }
    .statistics-container{
       width: 250px;
       font-size: 1.1rem;
       gap: 1rem;
    }
    table th {
       font-size: 1.1rem;
    }
    table td{
      font-size: 1.2rem;
    }
}