
.main-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 4.5rem;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0rem 3rem 0rem;
}

.benefit-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.4rem;
    justify-content: center;
}

.benefit-list .benefit-icon {
    width: 90px;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.benefit-icon img {
    width: 100%;
    height: 80px;
}

.benefit-list li {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.benefit-icon i {
    font-size: 1.7rem;
}

.benefit-value {
    font-size: 1.7rem;
}

.img-container {
    margin: 1rem 0rem 3rem 0rem;
    width: 700px;
    height: auto;
    display: flex;
    justify-content: center;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.title {
    font-size: 2.2rem;
}

.benefit-title {
    font-size: 1.4rem;
    text-transform: capitalize;
}

.more-title {
    font-size: 2rem;
    text-transform: capitalize;
    margin-top: 2.2rem;
    text-align: center;
}

table,
th,
td {
    border: 1px solid gray;
    border-collapse: collapse;
    text-transform: capitalize;
}

table {
    text-align: center;
    margin: 1rem 0rem 3rem 0rem;
}

table th {
    padding: 1rem;
    width: 300px;
    background-color: #f7f7f7;
    color: #1e1f24;
    font-size: 1.7rem;
}

table td {
    font-size: 1.4rem;
    padding: 1rem;
}

.table-container {
    display: flex;
    justify-content: center;
}

.order-section {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    text-transform: capitalize;
    padding: 5rem;
    border: 1px solid gray;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
}

.order-title {
    font-size: 2.6rem;
}

.order-price, .order-location {
    font-size: 1.7rem;
}

.order-location i {
    margin-right: 0.4rem;
}

.order-btn {
    color: white;
    background-color: #bf7b14;
    font-size: 1.3rem;
    padding: 8px 12px;
    border-radius: 4px;
    width: 150px;
    text-align: center;
    transition: all 0.5s ease;
    text-decoration: none;
}

.order-btn:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

#other-cars .card {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
    display: none;
}

#other-cars .card p {
    text-align: center;
}

#other-cars {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.suggest-title {
    text-transform: capitalize;
    font-size: 2rem;
    text-align: center;
    margin: 3rem 0rem 3rem 0rem;
}

.img-container {
    width: 660px;
    height: auto;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.suggest-section {
    display: flex;
    justify-content: center;
}

.left-arrow, .right-arrow {
    background-color: transparent;
    border: none;
    font-size: 1.8rem;
    opacity: 0.4;
    margin: 2rem;
    transition: all 0.4s ease;
}

.left-arrow:hover, .right-arrow:hover {
    opacity: 1;
}
#map {
    width: 70%;
    height: 400px;
    margin: 5rem;
    display: flex;
    z-index: 2;
}

.location-title {
    font-size: 1.7rem;
}

.location-section {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.distance-button {
    display: inline-block;
    margin: 3rem;
    text-decoration: none;
    font-size: 1.3rem;
    background-color: #3a93dd;
    color: white;
    border-radius: 6px;
    padding: 15px 16px;
    letter-spacing: 2px;
    border: none;
    transition: 0.5s ease all;
}

.distance {
    font-size: 1.4rem;
}

