.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form{
  margin-bottom: 4rem;
}
.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.input-container input, .input-container select {
    padding: 0.5rem;
    font-size: 1rem;
}

.edit-button, .create-button {
    font-size: 1.2rem;
    border: none;
    padding: 10px 14px;
    min-width: 90px;
    border-radius: 6px;
    transition: var(--tran-05);
    text-align: center;
    color: white;
    background-color: #0071c2;
    margin: 2rem 0rem 3rem 0rem;
}
.edit-button:hover,
.create-button:hover{
    opacity: 0.8;
    transform:scale(1.050);
}

.input-container label {
    font-size: 1.5rem;
    color: white;
    transition: var(--tran-05);
    margin-top: 2rem;
}

span {
    color: red;
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.1rem;
}

form button {
    max-width: 72px;
    font-size: 1rem;
}
.shift {
    transform: translateY(-10px);
    font-size: 1.3em;
}

