*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
label,
input,
button,
span,
table,
td,
tr,
th,
thead,
tbody{
    font-family: 'Paytone One', sans-serif;
}
