@using BookingWebProject.Extensions
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Admin Book Web App</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Paytone+One&family=Poppins&display=swap" rel="stylesheet">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/AdminStyles/Base/Base.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/AdminStyles/Base/Responsive/Base.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/AdminStyles/Base/Reset.css" asp-append-version="true" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" integrity="sha512-6S2HWzVFxruDlZxI3sXOZZ4/eJ8AcxkQH1+JjSe/ONCEqR9L4Ysq5JdT5ipqtzU7WHalNwzwBv+iE51gNHJNqQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
</head>
<body>
    <header>
            <nav>
                <div class="logo-container">
                    <h2 class="title">Booking System</h2>
                </div>
                <div class="menu-items">
                    <ul class="nav-links">
                        <li>
                            <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                                <span class="link-name">Dahsboard</span>
                            </a>
                        </li>
                         <li>
                            <a asp-area="" asp-controller="Hotel" asp-action="All">
                                <i class="fa-solid fa-house"></i>
                                <span class="link-name">Home</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="Admin" asp-controller="Hotel" asp-action="Index">
                                <i class="fa-solid fa-hotel"></i>
                                <span class="link-name">Hotels</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="Admin" asp-controller="RentCar" asp-action="Index">
                                <i class="fa-solid fa-car"></i>
                                <span class="link-name">Rent Cars</span>
                            </a>
                        </li>
                    <li>
                        <a asp-area="Admin" asp-controller="RentCar" asp-action="Create">
                            <i class="fa-solid fa-screwdriver-wrench"></i>
                            <span class="link-name">Create Car</span>
                        </a>
                    </li>
                        <li>
                            <a asp-area="Admin" asp-controller="Room" asp-action="Create">
                                <i class="fa-solid fa-bed"></i>
                                <span class="link-name">Create Room</span>
                            </a>
                        </li>
                    <li>
                        <a asp-area="Admin" asp-controller="Hotel" asp-action="CreateHotel">
                            <i class="fa-solid fa-tree-city"></i>
                            <span class="link-name">Create Hotel</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="HotelBenefit" asp-action="Index">
                            <i class="fa-solid fa-umbrella-beach"></i>
                            <span class="link-name">Hotel Benefits</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="RoomBasis" asp-action="Index">
                            <i class="fa-solid fa-shower"></i>
                            <span class="link-name">Room Basis</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="RoomType" asp-action="Index">
                            <i class="fa-solid fa-person-shelter"></i>
                            <span class="link-name">Room Types</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="RoomPackage" asp-action="Index">
                            <i class="fa-solid fa-utensils"></i>
                            <span class="link-name">Room Packages</span>
                        </a>
                    </li>
                    </ul>

                    <ul class="logout-mode">
                        <li>
                            <a asp-area="" asp-controller="Account" asp-action="Logout">
                                <i class="fa-solid fa-door-open"></i>
                                <span class="link-name">Logout</span>
                            </a>
                        </li>
                        <li class="mode">
                            <a href="#">
                                <i class="fa-solid fa-moon"></i>
                                <span class="link-name">Dark Mode</span>
                            </a>
                            <div class="mode-toggle">
                                <span class="switch"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
    </header>
    <partial name="_NotificationPartial" />
    <div class="container">
        <main role="main" class="pb-3">
            <div class="top-menu">
                <i class="fa-solid fa-bars sidebar-toggle"></i>

                <div class="img-container">
                    <a asp-area="" asp-action="Personalization" asp-controller="User" asp-route-id = "@this.User.GetId()"><i class="fa-regular fa-user" id="user-icon"></i></a>
                </div>
            </div>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
    </footer>
    <script src="~/js/Admin/base.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
