<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Book Web App</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Paytone+One&family=Poppins&display=swap" rel="stylesheet">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/responsive-base.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" integrity="sha512-6S2HWzVFxruDlZxI3sXOZZ4/eJ8AcxkQH1+JjSe/ONCEqR9L4Ysq5JdT5ipqtzU7WHalNwzwBv+iE51gNHJNqQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/base.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navigation">
            <ul class="nav-list">
                <li>
                    <a id="logo" asp-area="" asp-controller="Home" asp-action="Index">Travel</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Car" asp-action="All">Cars</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Hotel" asp-action="All">Hotels</a>
                </li>
            </ul>
            <partial name="_LoginPartial" />
        </nav>
        <a id="logo2" asp-area="" asp-controller="Home" asp-action="Index">Travel</a>
        <i class="fa-solid fa-bars" id="menu-btn"></i>

        <div class="drop-down-container">
            <ul class="drop-down-menu not-active">
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                @if (User?.Identity?.IsAuthenticated ?? false)
                {
                    <li>
                        <a asp-action="Personalization" asp-controller="User"><i class="fa-regular fa-user" id="user-icon"></i></a>
                    </li>

                    <li>
                        <a asp-action="Logout" asp-controller="Account">Logout</a>
                    </li>

                }
                else
                {
                    <li>
                        <a asp-area="" asp-action="Register" asp-controller="Account">Register</a>
                    </li>
                    <li>
                        <a asp-area="" asp-action="Login" asp-controller="Account">Login</a>
                    </li>
                }
            </ul>
        </div>
    </header>
   @* <partial name="_NotificationPartial" />*@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
    </footer>
    <script src="~/js/base.js" asp-append-version="true"></script>

    <script>
        const dropDownMenuElement = document.querySelector(".drop-down-menu")
        const menuButtonElement = document.getElementById("menu-btn");
        menuButtonElement.addEventListener("click", () => {
            dropDownMenuElement.classList.toggle("not-active");
            let isNotActive = dropDownMenuElement.classList.contains("not-active");
            menuButtonElement.classList = isNotActive ? "fa-solid fa-bars" : "fa-solid fa-xmark";
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
