.statistics{
   display: flex;
   gap: 1rem;
   margin-top: 4rem;
}
.statistics-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    width: calc(100% / 3 - 15px);
    padding: 45px 20px;
    background-color: var(--box1-color);
    transition: var(--tran-05);
    font-size: 2rem;
}
.statistics-container i{
   color: var(--text-color);
   margin-bottom: 0.4rem;
}
.statistics-container:nth-child(2){
    background-color: var(--box2-color);
}
.statistics-container:nth-child(3){
    background-color: var(--box3-color);
}
table{
  margin-top: 4rem;
}
.dark table td, .dark p, .dark .title {
    color: var(--black-light-color);
}
table th {
    padding: 1rem;
    width: 300px;
    background-color: #f7f7f7;
    color: #1e1f24;
    font-size: 1.7rem;
}

table td {
    font-size: 1.4rem;
    padding: 1rem;
    text-align: center;
}
table {
    overflow-X: scroll;
}

.table-container {
    display: flex;
    justify-content: center;
}
.role-link{
   text-decoration: none;
   color: white;
   display: inline-block;
   padding: 14px 20px;
   border-radius: 26px;
   border: none;
   font-size: 1.3rem;
   transition: var(--tran-03);
}
.role-link:hover{
  opacity: 0.6;
  transform: scale(1.050);
}
.member{
    background-color: red;
}
.moderator{
   background-color: cornflowerblue;
}
.title-container{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.title-container img{
  width: 90px;
  height: auto;
  object-fit: cover;
}
.title{
  font-size: 2.5rem;
}
.dark .title-container img{
  color: white;
}
