*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
}

header {
    background-color: transparent;
}

.introduction-section {
    height: auto;
    background: url('/img/pexels-pixabay-33545.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15rem 5rem;
    font-family: 'Paytone One', sans-serif;
}

.intro-title {
    font-size: 5rem;
    text-transform: capitalize;
    color: white;
    font-weight: bold;
    margin-bottom: 2rem;
}

.intro-link {
    display: inline-block;
    color: white;
    text-decoration: none;
    border: none;
    background-color: mediumpurple;
    padding: 12px 14px;
    margin-top: 2rem;
    border-radius: 6px;
    text-transform: capitalize;
    font-size: 1.7rem;
    transition: 0.5s ease all;
}

.intro-content {
    font-size: 2.4rem;
    color: white;
    width: 60%;
    line-height: 1.6;
}

.intro-link:hover {
    opacity: 0.9;
    transform: scale(1.1);
}

.services {
    padding: 5rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Paytone One', sans-serif;
}

.service-title {
    font-size: 3rem;
    text-transform: capitalize;
    text-align: left;
    margin-bottom: 2rem;
}

.service-description {
    font-size: 2.2rem;
    line-height: 1.5;
    text-align: center;
    width: 60%;
    margin-bottom: 2rem;
}

.img-container img {
    height: 200px;
    width: 200px;
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
}

.cards {
    margin-top: 1.5rem;
    display: flex;
    gap: 15rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #eaeaea;
    padding: 2rem;
    transition: 0.5s ease all;
    cursor: pointer;
}

.card-content {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
    border: 1px solid transparent;
}

.destinations {
    margin-top: 7rem;
}

.destinations .title {
    text-transform: capitalize;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 4rem;
}

.hotels {
    display: grid;
    grid-template-columns: repeat(2, 0.2fr);
    grid-gap: 5rem;
    justify-content: center;
    align-items: center;
}

.hotel-img-container {
    position: relative;
}

.destinations .hotel-img-container img {
    width: 440px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    transition: all 0.5s ease;
}

.hotel-img-container .country {
    position: absolute;
    bottom: 66px;
    left: 10px;
    color: white;
    font-size: 2.2rem;
    text-transform: capitalize;
}

.hotel-img-container .hotel-name {
    position: absolute;
    left: 10px;
    bottom: 24px;
    font-size: 1.6rem;
    color: white;
    text-transform: capitalize;
}

.destinations .content {
    margin: 0.4rem 0rem 2.2rem 0rem;
    display: flex;
    align-items: center;
    gap: 12rem;
}

.destinations .content i {
    margin-right: 0.4rem;
}

.destinations .content .star-list {
    display: flex;
}

.destinations .content .hotel-city {
    font-size: 1.3rem;
}
