@media screen and (min-width: 280px) and (max-width: 700px) {
    .intro-section {
        min-width: 100vw;
    }

   .intro-section .title {
       font-size: 2rem;
   }

   .intro-section .content {
       font-size: 1.3rem;
       width: 90%;
   }

    .sort-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .filter-container {
        width: 100%;
    }

    .hotel-cards {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .hotel-card {
        width: 100%;
        flex-direction: column;
        padding: 0.5rem;
        gap: 1.7rem;
    }

    .hotel-card-content {
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    .star-container {
        flex-direction: column;
    }

    .hotel-name {
        font-size: 1.3rem;
        text-align: center;
        width: 50%;
    }

    .hotel-location, .star-title {
        font-size: 1.2rem;
        width: 60%;
        text-align: center;
    }

    .hotel-card .img-container {
        width: 100%;
    }

     .hotel-card .img-container img {
         width: 100%;
         height: auto;
     }

    .link-container {
        flex-direction: column;
        gap: 2rem;
        margin-top: 2rem;
        padding: 2rem;
    }

    .benefit-container label {
        font-size: 1rem;
    }

    .star-list li i {
        font-size: 1.2rem;
    }

    view-link {
        font-size: 1rem;
    }

    .pagination-container {
        padding: 1.4rem;
        justify-content: flex-start;
        flex-direction: column;
    }

    .pagination-container .page-list {
        gap: 3rem;
        flex-direction: column;
    }

    .page-list .page-link {
        font-size: 1rem;
    }
}

@media screen and (min-width: 701px) and (max-width: 1200px) {

    .sort-container button {
        margin-left: 0.5rem;
    }

    .sort-container h2 {
        margin-bottom: 1rem;
    }

    .filter-container {
        width: 80%;
    }

    .hotel-cards {
        width: 100%;
    }

    .hotel-card {
        width: 90%;
        flex-direction: column;
    }

   .hotel-card .img-container {
       width: 100%;
   }

   .hotel-card .img-container img {
       width: 100%;
       height: auto;
   }

    .pagination-container {
        justify-content: flex-start;
    }

    .view-link {
        padding: 10px 16px;
    }
}
