@model IEnumerable<HotelViewModel>



@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

@functions
{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}


<link rel="stylesheet" href="~/css/base.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/responsive-base.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/user-menu.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/UserStyles/UserHotels.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/UserStyles/Responsive/UserHotels.css" asp-append-version="true" />

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Paytone+One&family=Poppins&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />

<h1 class="title">Your favorite hotels</h1>

<section class="hotel-cards">
    <partial name="_AllHotels" model="@Model" />
</section>

<script>
    const csrfToken = '@GetAntiXsrfRequestToken()';
</script>

<script src="~/js/Hotel/All.js"></script>